body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #f4decb;
  margin: 0;
}

body h1,
h2 {
  font-family: comfortaa;
  color: #000000;
}

p {
  color: rgb(0, 0, 0);
  font-size: 85%;
  text-align: center;
  margin: 0 10px;
}

h2,
h3,
h4 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20.5px;
}

h3{
  margin-top: 55px;
}


.image {
  margin-top: -90px;
}

header {
  font-size: 85%;
  text-align: center;
  background-color: #efc9b2;
  color-scheme: 30;
  position: fixed;
  margin-top: -100px;
  padding: 0%;
  width: 100%;
  z-index: 1;
  top: 0;
  border-bottom: 3px solid black;
  font-family: 'Franklin Gothic Medium';
  font-size: 17px;
}

header figure {
  display: flex;
  justify-content: center;
}

header img {
  align-content: center;
  scale: 50%;
}


footer {
  border-top: 2px solid black;
  margin-top: 50px;
  font-size: smaller;
}



/*main {
  margin-top: 150px;
}*/

nav {
  background-color: #f4decb;

}

ul {
  margin-top: 3%;
  display: flex;
  margin-top: -70px;
  justify-content: space-evenly;
  margin-left: -80px;
  background-color: #efc9b2;
  list-style-type: none;
}

a {
  color: #000000;
  text-decoration: none;
}


.container {
  padding: 2.5rem;
  margin-top: 20px;
}

.slider-wrapper {
  position: relative;
  max-width: 98rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 18 / 10.7;
  overflow-x: auto;
  box-shadow: rgb(0, 0, 0) 2px 2px 10px;
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  border-radius: 30px;
  scroll-snap-align: start;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;

}

.tekst {
  margin-top: 250px;
}

.tekst p {
  margin-top: 0px;
  font-family: 'franklin gothic medium';
  font-size: 16.4px;
  padding-left: 1vh;
  padding-right: 1vh;
}



.tekst img {
  display: flex;
  flex-direction: column;
  margin-top: -40px;
  scale: 60%;
}


.tekst h2 {
  text-align: center;
  font-family: serif;
  margin-top: 40px;
  font-size: 28px;
}

.tekst2 {
  margin-top: -30px;
}

.tekst2 p {
  margin-top: -20px;
  font-family: 'Franklin Gothic medium';
  font-size: 16.4px;
  padding-left: 1vh;
  padding-right: 1vh;
}


.tekst2 img {
  display: flex;
  flex-direction: column;
  margin-top: -40px;
  scale: 60%;
}


.tekst2 h2 {
  text-align: center;
  font-family: serif;
  margin-top: 40px;
  font-size: 28px;
}


.homescreen h2 {
  margin-top: 60px;
}


.homescreen {
  margin-top: -20px;
  flex-direction: row;
  border: 0;
  align-content: center;
  align-items: center;
  width: 75%;
  padding-top: 5px;
  margin-left: 9vw;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 3vh;
  background-color: #65081f;
  border-radius: 20px;
  box-shadow: rgb(0, 0, 0) 5px 3px 10px;
  font-family: Tahoma;
}


.homescreen p{
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: -20px; 
  font-size: 15.5px;
}

.homescreen h2,
.homescreen h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 25px 5px;
  font-size: 24.8px;
  font-family: franklin gothic medium;
}




.haarlem4 img{
  align-items: center;
  margin-left: 50px;
  margin-top: -10px;
  width: 300px;
  border: #000000;
  border-radius: 20px;
}

.haarlem4 h2{
  margin-top: 30px;
}

.haarlem4 p{
  font-family: 'franklin gothic small';
  font-size: 16px;
}


.site {
  color: rgb(3, 10, 112);
}

.site2 {
  color: rgb(3, 10, 112);
  font-family:Franklin Gothic medium;
}

.ok{
  display: flex;
  flex-direction: row;
  font-family: 'franklin gothic small';
  font-size: 18px;
}

.ok p{
  padding-left: 1vh;
  text-align: center;
}


.ok img{
  width: 150px;
  height: 160px;
  margin-top: 60px;
 padding-right: 1.5vh;
}

.ok2{
  margin-top: -35px;
}

.ok3{
  display: flex;
  flex-direction: row;
  font-family: 'franklin gothic small';
  font-size: 18px;
  margin-left: 1vh;
}


.ok3 img{
  width: 150px;
  height: 160px;
  margin-right: 10px;
  margin-top: 13px;
}

.ok3 p{
  padding-right: 1vh;
  text-align: center;
}

.ok4{
  display: flex;
  flex-direction: row;
  font-family: 'franklin gothic small';
  font-size: 18px;
}

.ok4 p{
  padding-left: 1vh;
  text-align: center;
}


.ok4 img{
  width: 150px;
  height: 160px;
  margin-top: 20px;
 padding-right: 1.5vh;
}
